* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #e9e4e4;
}

.all {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .all {
    display: inline;
  }
}

header {
  width: 15%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 10%;
  }
}
header .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #94918f;
  background-color: #121418;
}
@media screen and (max-width: 768px) {
  header .menu {
    border-bottom: 1px solid #94918f;
    background: #b8b8b8;
  }
}
header .menu .menu-top {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  header .menu .menu-top {
    flex-direction: row;
    padding: 2%;
    justify-content: center;
    align-items: center;
  }
}
header .menu .menu-top h1 {
  display: none;
}
header .menu .menu-top h2 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 65px;
  letter-spacing: 20px;
  color: #e9e4e4;
}
@media screen and (max-width: 768px) {
  header .menu .menu-top h2 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 30px;
  }
}
header .menu .menu-bottom {
  width: 100%;
}
header .menu .menu-bottom .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
header .menu .menu-bottom .social-icons .social-icon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 8px;
  background-color: #e9e4e4;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  transition: all 0.3s ease;
}
header .menu .menu-bottom .social-icons .social-icon i {
  margin: auto;
  font-size: 24px;
  color: #121418;
  z-index: 1;
  transition: all 0.3s ease;
}
header .menu .menu-bottom .social-icon:after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  transform: translate(0, 60px);
  border-radius: 50%;
  transition: all 0.3s ease;
}
header .menu .menu-bottom .social-icon.github:after {
  background-color: #24292e;
}
header .menu .menu-bottom .social-icon.linkedin:after {
  background-color: #0e76a8;
}
header .menu .menu-bottom .social-icon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}
header .menu .menu-bottom .social-icon:hover i {
  color: #fff;
}
header .menu .menu-bottom .social-icon:hover:after {
  transform: translate(0) scale(1.2);
}
@media screen and (max-width: 768px) {
  header .menu .menu-bottom {
    display: none;
  }
}

.main {
  width: 85%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}
.main .all-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .main .all-container {
    display: inline;
  }
}
.main .all-container .container-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .main .all-container .container-left {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
.main .all-container .container-left .header {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .main .all-container .container-left .header {
    align-items: center;
  }
}
.main .all-container .container-left .header .medium-title-all {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-bottom: 1px solid #94918f;
}
@media screen and (min-width: 768px) {
  .main .all-container .container-left .big-title-hidden {
    display: none;
  }
}
.main .all-container .container-left .all-info {
  overflow: auto;
  height: calc(100% + 60px);
  padding: 0 20px;
  border-right: 1px solid #94918f;
}
.main .all-container .container-left .all-info .info {
  margin-bottom: 15px;
}
.main .all-container .container-left .all-info .info-date {
  font-size: 70px;
  font-family: joschmi, sans-serif;
}
.main .all-container .container-left .all-info .info-title {
  font-size: 35px;
  letter-spacing: 1px;
  font-family: alfarn-2;
  padding-bottom: 15px;
}
.main .all-container .container-left .all-info .info-text {
  font-family: noka, sans-serif;
  font-size: 18px;
}
.main .all-container .container-left .all-info .info .allskills {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  border-top: 2px solid #121418;
  border-bottom: 2px solid #121418;
}
.main .all-container .container-left .all-info .info .allskills .skills {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  border-top: 1px solid #121418;
  border-bottom: 1px solid #121418;
}
.main .all-container .container-left .all-info .info .allskills .skills .skills-base {
  display: inline-block;
  animation: 20s slide infinite linear;
}
.main .all-container .container-left .all-info .info .allskills .skills:hover .skills-base {
  animation-play-state: paused;
}
.main .all-container .container-left .all-info .info .allskills .skills-2 {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.main .all-container .container-left .all-info .info .allskills .skills-2 .skills-back {
  display: inline-block;
  animation: 20s slide infinite linear reverse;
}
.main .all-container .container-left .all-info .info .allskills .skills-2:hover .skills-back {
  animation-play-state: paused;
}
.main .all-container .container-left .all-info .info .allskills .skills-3 {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  border-top: 1px solid #121418;
  border-bottom: 1px solid #121418;
}
.main .all-container .container-left .all-info .info .allskills .skills-3 .skills-other {
  display: inline-block;
  animation: 20s slide infinite linear;
}
.main .all-container .container-left .all-info .info .allskills .skills-3:hover .skills-other {
  animation-play-state: paused;
}
.main .all-container .container-left .all-info .info img {
  width: 50px;
  height: 50px;
  margin: 5px 35px 5px 35px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.main .all-container .container-left .all-info .info .donut-all {
  gap: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.main .all-container .container-left .all-info .info .donut-all .semidonut:nth-child(1) {
  --percentage: 80;
}
.main .all-container .container-left .all-info .info .donut-all .semidonut:nth-child(2) {
  --percentage: 60;
}
.main .all-container .container-left .all-info .info .donut-all .semidonut {
  --percentage: 0;
  --fill: #333333;
  width: 300px;
  height: 95px;
  margin: auto;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  overflow: hidden;
  color: var(--fill);
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-end;
}
.main .all-container .container-left .all-info .info .donut-all .semidonut:after {
  content: "";
  width: 215px;
  height: 215px;
  border: 50px solid;
  border-color: rgba(141, 141, 141, 0.28) rgba(0, 0, 0, 0.15) var(--fill) var(--fill);
  position: absolute;
  border-radius: 50%;
  top: 0;
  box-sizing: border-box;
  transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
  animation: fillAnimation 3s ease-in;
}
@keyframes fillAnimation {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(135deg);
  }
}
@keyframes fillGraphAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}
.main .all-container .container-left .all-info .info .container-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .all-container .container-left .all-info .info .container-text a {
  text-decoration: none;
}
.main .all-container .container-left .all-info .info .container-text a .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #121418;
  color: #e9e4e4;
  border: 1px solid #121418;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: new-order, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.main .all-container .container-left .all-info .info .container-text a .btn:hover {
  background-color: #e9e4e4;
  color: #121418;
  border: 1px solid #e9e4e4;
}
.main .all-container .container-right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  border-right: 1px solid #94918f;
}
@media screen and (max-width: 768px) {
  .main .all-container .container-right {
    overflow-y: visible;
    overflow-x: visible;
    scroll-snap-type: none;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}
.main .all-container .container-right .article {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 100%;
  scroll-snap-align: start;
}
@media screen and (max-width: 768px) {
  .main .all-container .container-right .article {
    scroll-snap-align: none;
    min-height: 0%;
  }
}
.main .all-container .container-right .article .second-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-bottom: 10px;
}
.main .all-container .container-right .article .second-header .medium-title-all {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  border-bottom: 1px solid #94918f;
}
@media screen and (max-width: 768px) {
  .main .all-container .container-right .article .big-title {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main .all-container .container-right .article .big-title-hidden {
    display: none;
  }
}
.main .all-container .container-right .article .box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
}
.main .all-container .container-right .article .box .project {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main .all-container .container-right .article .box .project .imginfo {
  position: relative;
}
.main .all-container .container-right .article .box .project .imginfo .projectimg {
  max-height: 40vh;
  width: 100%;
  object-fit: cover;
}
.main .all-container .container-right .article .box .project .imginfo .hoverinfo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 40vh;
  background-color: rgba(0, 0, 0, 0.71);
  opacity: 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .main .all-container .container-right .article .box .project .imginfo .hoverinfo {
    display: none;
  }
}
.main .all-container .container-right .article .box .project .imginfo .hoverinfo .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 70%;
  height: 100%;
}
.main .all-container .container-right .article .box .project .imginfo .hoverinfo .text .textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main .all-container .container-right .article .box .project .imginfo .hoverinfo .text .textContainer p {
  margin: 0;
}
.main .all-container .container-right .article .box .project .imginfo .hoverinfo .text p {
  margin: 0;
}
.main .all-container .container-right .article .box .project .imginfo .hoverinfo .text h4 {
  font-size: 30px;
  letter-spacing: 1px;
  font-family: alfarn-2;
}
.main .all-container .container-right .article .box .project .imginfo .hoverinfo .technos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  height: 100%;
}
.main .all-container .container-right .article .box .project .imginfo .hoverinfo .technos img {
  width: 60px;
  height: 60px;
}
.main .all-container .container-right .article .box .project .imginfo:hover .hoverinfo {
  opacity: 1;
}
@media screen and (max-width: 450px) {
  .main .all-container .container-right .article .box .project .imginfo:hover .hoverinfo {
    display: none;
  }
}
.main .all-container .container-right .article .box .project .imginfo:hover .projectimg {
  filter: grayscale(100%) blur(4px);
  -webkit-filter: grayscale(100%) blur(5px) brightness(0.5);
}
@media screen and (max-width: 450px) {
  .main .all-container .container-right .article .box .project .imginfo:hover .projectimg {
    filter: none;
  }
}
.main .all-container .container-right .article .box .project a {
  text-decoration: none;
}
.main .all-container .container-right .article .box .project a h2 {
  font-size: 33px;
  font-family: noka, sans-serif;
  font-weight: 500;
  color: #121418;
}
.main .all-container .container-right .article .box .project a h2:hover {
  color: #535353;
}
.main .all-container .container-right .article .box .project span {
  text-decoration: none;
  color: #121418;
}
.main .all-container .container-right .article .box .project span:hover {
  text-decoration: underline;
  color: #535353;
}
.main .all-container .container-right .article .box .project p {
  font-family: noka, sans-serif;
  max-width: 55ch;
  font-size: 18px;
}
.main .all-container .container-right .article .box .plus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #94918f;
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .main .all-container .container-right .article .box .plus {
    display: none;
  }
}
.main .all-container .container-right .article .box .plus svg {
  width: 26px;
  margin-right: 10px;
}
.main .all-container .container-right .article .box .plus p {
  font-size: 28px;
}
.main .big-title {
  font-size: 6rem;
  font-family: reross-quadratic, sans-serif;
  margin-bottom: 6px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .main .big-title {
    font-size: 5rem;
    font-family: reross-quadratic, sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.main .big-title-hidden {
  font-size: 5rem;
  font-family: reross-quadratic, sans-serif;
  margin-top: 25px;
  padding-bottom: 20px;
}
.main .medium-title {
  font-size: 22px;
  font-family: new-order, sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  font-style: italic;
}
.main .info + .info {
  margin-top: 30px;
}

/*# sourceMappingURL=main.css.map */
