@use "mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$blog-bg: #e9e6e4;
$body-bg: #121418;
$title-color: #121418;
$subtitle-color: #161419;
$border-color: #94918f;


html, body{
    height:100%;
    width: 100%;
    background-color: $blog-bg;
}
.all{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    @include mixins.breakpoint(768px){
        display: inline;
    }
}

header{
    width:15%;
    height:100%;
    @include mixins.breakpoint(768px){
        width: 100%;
        height: 10%;
    }
    .menu{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-right: 1px solid $border-color;
        background-color: #2e2e2e;
        @include mixins.breakpoint(768px){
            border-bottom: 1px solid $border-color;
            background: #b8b8b8;
        }

        .menu-top{
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mixins.breakpoint(768px){
                flex-direction: row;
                padding: 2%;
                justify-content: center;
                align-items: center;
            }
            h1{
                display: none;
            }
            h2{
                -webkit-transform: rotate(-90deg);   
                transform: rotate(-90deg);
                font-size: 65px;
                letter-spacing: 20px;
                color: white;
                @include mixins.breakpoint(768px){
                    -webkit-transform: rotate(0deg);   
                    transform: rotate(0deg);
                    font-size: 30px;
                }
            }
        }
        .menu-bottom {
            width: 100%;
            .social-icons {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: row wrap;
                .social-icon {
                    display: flex;
                    position: relative;
                    overflow: hidden;
                    width: 50px;
                    height: 50px;
                    margin: 8px;
                    background-color: white;
                    border-radius: 50%;
                    box-shadow: 0px 1px 3px rgba(0,0,0,0.12);
                    text-decoration: none;
                    transition: all 0.3s ease;
                    i {
                        margin: auto; 
                        font-size: 24px;
                        color: hsl(212,16%,48%);
                        z-index: 1; 
                        transition: all 0.3s ease;
                    }
                }
            }
            .social-icon:after {
                content: "";
                width: 50px;
                height: 50px;
                position: absolute;
                transform: translate(0, 50px);
                border-radius: 50%;
                transition: all 0.3s ease;
            }
            .social-icon.github:after {
                background-color: #24292e;
            }
            .social-icon.linkedin:after {
                background-color: #0e76a8;
            }
            .social-icon:hover {
                transform: translateY(-4px);
                box-shadow: 0px 4px 12px rgba(0,0,0,0.16);
            }
            .social-icon:hover i {
                color: #fff;
            }
            .social-icon:hover:after {
                transform: translate(0) scale(1.2);
            }
            @include mixins.breakpoint(768px){
                display: none;
            }
        }
    }
}

.main{
    width: 100%;
    height: 100%;
    .all-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        @include mixins.breakpoint(768px){
            display: inline;
        }
        .container-left{
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: auto;
            padding-right: 20px;
            @include mixins.breakpoint(768px){
                width: 100%;
                height: auto;
            }
            .header{
                height: 25%;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 20px;
                padding-bottom: 10px;
                @include mixins.breakpoint(768px){
                    align-items: center;
                }
                .medium-title-all{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;                           
                    border-bottom: 1px solid #94918f;
                }
            }
            .big-title-hidden{
                @include mixins.minwidth(768px){
                    display: none;
                }
            }
            .all-info{
                overflow: auto;
                height: calc(100% + 60px);
                padding: 0 20px;
                border-right: 1px solid #94918f;
                .info{
                    margin-bottom: 15px;
                    &-date{
                        font-size: 70px;
                        font-family: joschmi, sans-serif;
                    }
                    &-title{
                        font-size: 35px;
                        font-weight: 00;
                        letter-spacing: 1px;
                        font-family: alfarn-2;
                    }
                    &-text{
                        font-family: noka, sans-serif;
                        max-width: 45ch;
                        font-size: 18px;
                    }
                    .skills-container {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: hidden;
                        gap: 15px;
                        padding: 30px;
                        .skills{
                            &-simple{
                                font-family: noka, sans-serif;
                                font-size: 18px;
                                white-space : nowrap;
                                animation : Scroll 3s linear infinite alternate ;
                                @keyframes Scroll {
                                    0% { 
                                        transform : translateX(-100%);
                                    }
                                    100%{
                                        transform : translateX(0%);
                                    }
                                }
                            }
                            &-reverse{
                                font-family: noka, sans-serif;
                                font-size: 18px;
                                white-space : nowrap;
                                animation : Scroll 3s linear infinite alternate ;
                                animation-delay: -2s;
                                @keyframes Scroll {
                                    0% { 
                                        transform : translateX(-100%);
                                    }
                                    100%{
                                        transform : translateX(0%);
                                    }
                                }
                            }
                        }
                    }
                    .donut-all{
                        gap: 10px;
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 100%;
                        margin-top: 30px;
                        .semidonut:nth-child(1){
                            --percentage: 80;
                        }
                        .semidonut:nth-child(2){
                            --percentage: 60;
                        }
                        .semidonut{
                            --percentage: 0;
                            --fill: #333333;
                            width: 300px;
                            height: 95px;
                            margin: auto;
                            position: relative;
                            color: #fff;
                            font-size: 22px;
                            font-weight: 600;
                            overflow: hidden;
                            color: var(--fill);
                            display: flex;
                            box-sizing: border-box;
                            justify-content: center;
                            align-items: flex-end;
                            &:after{
                                content: "";
                                width: 215px;
                                height: 215px;
                                border: 50px solid;
                                border-color: rgb(141 141 141 / 28%) rgba(0, 0, 0, 0.15) var(--fill) var(--fill);
                                position: absolute;
                                border-radius: 50%;
                                top: 0;
                                box-sizing: border-box;
                                transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
                                animation: fillAnimation 3s ease-in;
                            }
                        }
                        @keyframes fillAnimation{
                            0%{transform : rotate(-45deg);}
                            50%{transform: rotate(135deg);}
                        }
                        @keyframes fillGraphAnimation{
                            0%{transform: rotate(0deg);}
                            50%{transform: rotate(180deg);}
                        }
                    }
                }
            }
        }

        .container-right{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            scroll-snap-type: y mandatory;
            border-right: 1px solid $border-color;
            @include mixins.breakpoint(768px){
                overflow-y: visible;
                overflow-x: visible;            
                scroll-snap-type: none; 
                justify-content: space-between;
                width: 100%;
                height: 100%;
            }
                .article{
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    min-height: 100%;
                    scroll-snap-align: start;
                    @include mixins.breakpoint(768px){
                        scroll-snap-align: none;
                        min-height: 0%;
                    }
                    .second-header{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 0 20px;
                        padding-bottom: 10px;
                        .medium-title-all{
                            display: flex;
                            gap: 10px;
                            justify-content: flex-end;
                            border-bottom: 1px solid #94918f;
                        }
                    }
                    .big-title{
                        @include mixins.breakpoint(768px){
                            display: none;
                        }
                    }
                    .big-title-hidden{
                        @include mixins.minwidth(768px){
                            display: none;
                        }
                    }
                    .box{
                        margin: 20px;
                        img {
                            max-height: 40vh;
                            width: 100%;
                            object-fit: cover;
                        }
                        h2 {
                            font-size: 30px;
                            line-height: 1.2;
                            margin: 15px 0 10px;
                            font-family: noka, sans-serif;
                            font-weight: 500;   
                        }
                        p {
                            line-height: 1.5;
                            margin: 15px 10px 50px 0px;
                            font-family: noka, sans-serif;
                            max-width: 45ch;
                            font-size: 18px;
                        }
                        .plus {
                            font-size: 28px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            margin-top: auto;
                            border-top: 1px solid #94918f;
                            padding-top: 15px;
                            @include mixins.breakpoint(768px){
                                display: none;
                            }
                            svg {
                                width: 26px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
        }
    }

    .big-title{
        font-size: 6rem;
        font-family: reross-quadratic, sans-serif;
        margin-bottom: 6px;        
        padding-bottom: 20px;
        @include mixins.breakpoint(768px){
            font-size: 5rem;
            font-family: reross-quadratic, sans-serif;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }

    .big-title-hidden{
        font-size: 5rem;
        font-family: reross-quadratic, sans-serif;
        margin-top: 25px;
        padding-bottom: 20px;
    }

    .medium-title{
    font-size: 22px;
    font-family: new-order, sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    font-style: italic;
    }

    .info + .info {
        margin-top: 30px;
    }
}