@use "mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$blog-bg: #e9e6e4;
$body-bg: #121418;
$title-color: #121418;
$subtitle-color: #161419;
$border-color: #94918f;


html, body{
    height:100%;
    width: 100%;
}
.all{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $blog-bg;
    // padding: 3px 15px;
    @include mixins.breakpoint(768px){
        display: inline;
    }
}

header{
    width:15%;
    height:100%;
    @include mixins.breakpoint(768px){
        width: 100%;
        height: 7%;
    }
    .menu{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-right: 1px solid $border-color;
        @include mixins.breakpoint(768px){
            height: 7%;
            position: fixed;
            border-bottom: 1px solid $border-color;

        }

        .menu-top{
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mixins.breakpoint(768px){
                flex-direction: row;
                padding: 2%;
                justify-content: center;
                align-items: center;
            }
            h1{
                -webkit-transform: rotate(-90deg);   
                transform: rotate(-90deg);
                font-size: 65px;
                letter-spacing: 20px;
            }
        }
        .menu-bottom{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10%;
            list-style: none;
            @include mixins.breakpoint(768px){
                display: none;
            }
        }
        .menu-link{
            font-family: new-order-regular;
            font-size: 1.4rem;
            text-decoration: none;
            list-style: none;
            color: $subtitle-color;
            letter-spacing: -0.5px;
            display: flex;
            align-items: center;
        }
    }
}

.main{
    width: 100%;
    height: 100%;
    // background-color: pink;
    .all-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        @include mixins.breakpoint(768px){
            display: inline;
        }

        .container-left{
            // background-color: green ;
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: auto;
            padding-right: 20px;
            @include mixins.breakpoint(768px){
                width: 100%;
                height: auto;
            }
            .header{
                // background-color: grey;
                height: 25%;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 20px;
                padding-bottom: 10px;
                .medium-title-all{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;                           
                    border-bottom: 1px solid #94918f;
                }
            }
            .all-info{
                overflow: auto;
                height: calc(100% + 60px);
                padding: 0 20px;
                border-right: 1px solid #94918f;
                .info{
                    margin-bottom: 15px;
                    &-date{
                        font-size: 70px;
                        font-family: joschmi, sans-serif;
                    }
                    &-title{
                        font-size: 35px;
                        font-weight: 00;
                        letter-spacing: 1px;
                        font-family: alfarn-2;
                    }
                    &-text{
                        font-family: noka, sans-serif;
                        max-width: 45ch;
                        font-size: 18px;
                    }
                    .skills-container {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        // align-items: flex-start;
                        overflow: hidden;
                        gap: 15px;
                        padding: 30px;

                        .skills{
                            &-simple{
                                font-family: noka, sans-serif;
                                font-size: 18px;
                                white-space : nowrap;
                                animation : Scroll 3s linear infinite alternate ;
                                @keyframes Scroll {
                                    0% { 
                                        transform : translateX(-100%);
                                    }
                                    100%{
                                        transform : translateX(0%);
                                    }
                                }
                            }
                            &-reverse{
                                font-family: noka, sans-serif;
                                font-size: 18px;
                                white-space : nowrap;
                                animation : Scroll 3s linear infinite alternate ;
                                animation-delay: -2s;
                                @keyframes Scroll {
                                    0% { 
                                        transform : translateX(-100%);
                                    }
                                    100%{
                                        transform : translateX(0%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .container-right{
            // background-color: blueviolet ;
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            scroll-snap-type: y mandatory;
            border-right: 1px solid $border-color;

            @include mixins.breakpoint(768px){
                width: 100%;
                height: 100%;
            }
                .article{
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    min-height: 100%;
                    scroll-snap-align: start;
                    .header{
                        // background-color: yellow;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 0 20px;
                        padding-bottom: 10px;
                        .medium-title-all{
                            display: flex;
                            gap: 10px;
                            justify-content: flex-end;
                            border-bottom: 1px solid #94918f;
                        }
                    }
                    .box{
                        margin: 20px;
                        img {
                            max-height: 40vh;
                            width: 100%;
                            object-fit: cover;
                        }
                        h2 {
                            font-size: 30px;
                            line-height: 1.2;
                            margin: 15px 0 10px;
                            font-family: noka, sans-serif;
                            font-weight: 500;   
                        }
                        p {
                            line-height: 1.5;
                            margin: 15px 10px 50px 0px;
                            font-family: noka, sans-serif;
                            max-width: 45ch;
                            font-size: 18px;
                        }
                        .plus {
                            font-size: 28px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            margin-top: auto;
                            border-top: 1px solid #94918f;
                            padding-top: 15px;
                            svg {
                                width: 26px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
        }
    }

    .big-title{
        font-size: 6rem;
        font-family: reross-quadratic, sans-serif;
        margin-bottom: 6px;        
        padding-bottom: 20px;
    }

    .medium-title{
    font-size: 22px;
    font-family: new-order, sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    font-style: italic;
    }

    .info + .info {
        margin-top: 50px;
    }
}
